<ion-content>
  <div class="d-flex justify-content-center mt-5">
    <ion-img class="w-75 mb-2" src="../../../assets/logo.png"></ion-img>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <ion-text>
      <h2 class="fw-bold">Menú Principal:</h2>
    </ion-text>
  </div>
  <div class="container">
    <ion-row class="mt-5">
      <ion-col size="12">
        <ion-button (click)="colaboradores()" type="button" color="tertiary" expand="block">Colaboradores</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button type="button" color="tertiary" expand="block">Skills</ion-button>
      </ion-col>
      <ion-col size="12" class="mt-5">
        
      </ion-col>
      <ion-col size="12" class="">
        <ion-button (click)="back()" type="button" color="tertiary" expand="block">Salir</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-title class="text-center">Ionic Project JDH</ion-title>
  </ion-toolbar>
</ion-footer>