.input-box {
    margin-bottom: 15px;  // Espaciado inferior entre cajas de entrada
    border-radius: 8px;   // Borde redondeado de la caja de entrada
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  // Sombra ligera
    background-color: #ffffff;  // Color de fondo
    &.active{
      border: 1px solid;
    }
    
  }