<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button defaultHref="/principal" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="d-flex justify-content-center mt-3">
    <ion-img class="w-50 mb-4" src="../../../assets/logo.png"></ion-img>
  </div>
  <ion-row class="container">
    <ion-col size="10">
    <ion-text>
      <h2 class="fw-bold">Colaboradores:</h2>
    </ion-text>
    </ion-col>
    <ion-col>
      <ion-button (click)="newColaborador()" color="tertiary" size="small"><ion-icon name="add"></ion-icon></ion-button>
    </ion-col>
  </ion-row>
  <hr>
  <ion-list inset="true">
    <ion-item *ngFor="let colaborador of query">
       <ion-label>{{colaborador.strName}} {{colaborador.strFirstLast}}</ion-label>
       <ion-button (click)="captureId(colaborador._id)"><ion-icon name="pencil"></ion-icon></ion-button>
       <ion-button (click)="removeUser(colaborador._id)" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
  <hr>
  <ion-row class="d-flex justify-content-center">
  <ion-col size="10" class="">
    <ion-button size="small" (click)="back()" type="button" color="tertiary" expand="block">Salir</ion-button>
  </ion-col>
</ion-row>
</ion-content>
